<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Loja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            src="https://images7.alphacoders.com/688/688379.jpg"
            alt="">
          <ion-card-content>
            <p>
              <strong>
                Planet Express
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="tertiary">R$2B</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">

        <ion-card>
          <img
            src="https://live.staticflickr.com/7817/39859620333_584293f7d0_b.jpg"
            alt="">
          <ion-card-content>
            <p>
              <strong>
                TIE Fighter
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="tertiary">R$5B</ion-badge>
            </p>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            src="https://s2.glbimg.com/coHwdDkMeRVO9T2A_v1EIWLuHTE=/e.glbimg.com/og/ed/f/original/2019/08/27/31618033034_1dcde167ed_k.jpg"
            alt="">
          <ion-card-content>
            <p>
              <strong>
                Milleniumm Falcon
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="tertiary">R$15B</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
          src="https://cdn.wallpapersafari.com/19/80/KjmDhF.jpg"
          alt="">
        <ion-card-content>
          <p>
            <strong>
              USS Enterprise
            </strong>
          </p>
          <p class="ion-text-right">
            <ion-badge color="tertiary">R$10B</ion-badge>
          </p>
        </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img
          src="http://3.bp.blogspot.com/-LiIBwWqp4Ek/U-GeoiNXvyI/AAAAAAAABwo/YCVHpesRkTM/s1600/81J1NrFjYoL._SL1500_.jpg"
          alt="">
        <ion-card-content>
          <p>
            <strong>
              Milano
            </strong>
          </p>
          <p class="ion-text-right">
            <ion-badge color="tertiary">R$7B</ion-badge>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img
        src="https://mundoconectado.com.br/uploads/chamadas/dragon-crew-chamada.jpg"
        alt="">
      <ion-card-content>
        <p>
          <strong>
            Crew Dragon
          </strong>
        </p>
        <p class="ion-text-right">
          <ion-badge color="tertiary">R$11B</ion-badge>
        </p>
      </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
