<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Início Ionic </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-toolbar color="dark">
  <ion-title>Tutorial Ionic</ion-title>
</ion-toolbar>
      <ion-card color="tertiary">
      <ion-card-content>
        1° Passo - é abrir a pasta do ionic no cmd com: cd /ionic
      </ion-card-content>
    </ion-card>
    <ion-card color="tertiary">
      <ion-card-content>
        2° Passo - com: "ionic start "nome"App "template" --type=angular - criar um novo projeto (após um tempo carregando, aparecerá a pergunta "create free Ionic acount (y/n") a qual você responderá não ou seja n ou no)
      </ion-card-content>
    </ion-card>
    <ion-card color="tertiary">
      <ion-card-content>
        3° Passo - abrir o projeto no VSCode com: code . (caso queira colocar a sua conta do GitHub no projeto e salva-lo automaticamente use git config –global user.email “your@example.com ou git config –global user.name “Your Name”)
      </ion-card-content>
    </ion-card>
    <ion-card color="tertiary">
      <ion-card-content>
        4° Passo - após aberto seu projeto poderá começar a trabalhar livremente, não se esqueça de abrir a página do Ionic Framework e entrar na página UI Components, para colocar os comandos basta adicionalos no seu código html e colocalo entre a tag ion-content
      </ion-card-content>
    </ion-card>
    <ion-card color="danger">
      <ion-card-content>
        Aviso : Você deve ter baixado o nodeJS LTS
      </ion-card-content>
    </ion-card>
</ion-content>
